

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Glenn Gary's Fresh Domains</h1>
        <p>
              <div class="row">
                <div class="col-md-6"> <img src="images/CUTECAT.gif" > </div>
                <div class="col-md-6">
                    <form method='post' action='upload' enctype="multipart/form-data">
                        Upload domain file:
                        <input type='file' name='inputFile'>
                        <br>
                        Upload accounts/passwords file:
                        <input type='file' name='accountsFile'>
                        <br>
                        Enter keyword:
                        <input type='field' name='keyword'>
                      <br>
                      <br>
                      <input type='submit'>
                    </form>
                </div>
              </div>

              

        </p>

      </div>

    </div> <!-- /container -->

